/* Applies to all the html elements, set the padding and margin to zero to fill the page */
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh; /* height and width of element is equal to 100% of the viewport (screen size visible - responsive to screensize */
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(york-images/York.jpg); /* linear gradient creates an image consisting of a progressive transition between two or more colors */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    
    display: flex; /* flex direction defaults to horizontal alignment, used flex-direct: column to change to vertical */
    padding: 0% 6%;
    justify-content: space-between; /* space-between defines the alignment along the main axis, distribute free space leftver when either all the flex items on a line - in this case york pushed to left and nav to the right*/
    align-items: center;
}

nav img {
    width: 400px;
    height: auto;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;  /* removes unordered list bullet points */
    display: inline-block; /* allows navigation to be horizontal format */
    padding: 8px 12px;
    position: relative; /* element is positioned according to the normal flow of the document. Offset does not affect position of any other elements */
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
}

/* add line below navigation */
.nav-links ul li::after{
    content:''; /*content is blank to allow line transition*/
    width: 0%;
    height: 2px;
    background: white;
    display:block;  /* inline to block, enables the line to be below the nav selections*/
    margin:auto;
    transition: 0.5s;
}
/* enable the transition of the line */
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 50%;
    color: white;
    position: absolute; /* allows positioning exactly where you want it */
    top: 50%; /* top and left at 50% allows writing to be centre of the page */
    left: 50%;
    transform: translate(-50%,-50%); /* centers the text-box in the middle by shifting 50% to the left - It modifies the coordinate space of the CSS*/
    text-align:center;
}

.text-box h1{
    font-size: 48px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}

.hero-btn {
    display:inline-block;
    text-decoration: none;
    color:white;
    border: 1px solid white;
    padding: 12px 34px;
    /* font-size: 13; */
    background: transparent;
    position: relative;
    cursor: pointer;  /* cursor style - althoeugh pointer is default */
}

.hero-btn:hover{
    border: 1px solid white;
    background: rgb(37, 37, 37);
    transition: 1s;
}

/* hide icons during desktop view */
nav .fas{
    display: none;
}

@media(max-width:721px){

    nav img {
        width:240px;
        height: auto;
    }

    .text-box h1{
        font-size: 21px;
    }

    .text-box p{
        font-size: 14px;
    }

    /* mobile navbar to be stacked on top of eachother using display: block; from display: relative */
    .nav-links ul li{
        display: block;
        }

    .nav-links{
        position: absolute;
        background:#1f1f1f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2; /* z-index brings the element layer on top of all other layers, setting it to 0 will be placed behind the text */
        transition: 1s;    
    }

    nav .fas{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 15px;
    }
}

/* Course */

.course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}

h1{ /* text edit */
    font-size: 36px;
    font-weight: 600;
}

p{ /* text edit */
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{ /* layout edit */
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.course-col{ /* adding border and adjusting sizes */
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;  /* add 1 second transition to the box shadow effect */
}


h3{
    text-align: center;
    font-weight: 600; 
    margin: 10px 0;
}

/* adding shadow effects around an element's frame */
.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);  /*  offset-x | offset-y | blur-radius | spread-radius | color  */
}

/* media query allows the course rows to be directed into a column using flexbox method - THIS ALSO AFFECT THE CAMPUS ROWS*/
@media(max-width: 721px) {
    .row{
        flex-direction: column;
    }
}

/* campus */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

/* enables full image to fit within box */
.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    /* font-size:0; */
}

.layer:hover{
    background: rgba(87, 83, 121, 0.7);
}

/* setting the default hover effect - opacity at 0 */
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* facilities */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}

.facilities-col p{
    padding: 0;
}

.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Testimonial */

.testimonial {
    width: 80%;
    margin: auto; /* A value of auto basically tells the browser to define the margin for you. In most cases, a value of auto will be equivalent to a value of 0 */
    padding-top: 100px;
    text-align: center;
}
/* includes the box, image, review and name of person  */
.testimonial-col {
    flex-basis: 44%;  /* splits the two cols of 44% of the width each leaving an 12% gap in between, note in the .row style justify-content: space-between allows both images to be set to each side */
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex; /* flex allows the review to be on the right-side of the image */
}

.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 10px;
    text-align: left;
}

.testimonial-col i{
    color: #f44336
}

@media(max-width: 721px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* CALL TO ACTION */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color:white;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 721px){
    .cta h1{
        font-size: 24px;
        
    }
}

/* Footer */

.footer{
    width: 90%;
    text-align: center;
    padding: 30px 0;
    margin: auto;

}

.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 600;

}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa fa-heart-o {
    color: #f44336;
}